<div class="header-gob">
  <div class="gob-container-logo padding-5px">
    <img class="gob-logo" src="assets/image/gob-logo.png" />
  </div>
  <div class="gob-container-options padding-5px">
    <ul class="gob-options">
      <li>
        <a href="https://www.gob.mx/gobierno" title="Gobierno">Gobierno</a>
      </li>
      <li>
        <a href="https://www.participa.gob.mx/" title="Participa">Participa</a>
      </li>
      <li>
        <a href="https://datos.gob.mx/" title="Datos">Datos</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="logos-header-school">
    <ul class="logos-school">
      <li>
        <a href="https://www.gob.mx/" title="Gobierno">
          <img src="assets/image/gob-logo-2.png" />
        </a>
      </li>
      <li>
        <a href="https://www.gob.mx/sep" title="Edicación">
          <img src="assets/image/education-logo.png" />
        </a>
      </li>
      <li>
        <a href="https://tecnm.mx/" title="Tecnológico Nacional de México">
          <img src="assets/image/tnm-logo.jpg" />
        </a>
      </li>
      <li>
        <a href title="Inicio">
          <img src="assets/image/itt-logo.png" />
        </a>
      </li>
    </ul>
  </div>
  <div class="school-menu-basic">
    <ul class="menu-basic">
      <li>
        <a href title="Calendario Academico">
          <span class="material-symbols-outlined round-icon">
            calendar_month
          </span>
        </a>
      </li>
      <li>
        <a href title="Correo Institucional">
          <span class="material-symbols-outlined round-icon">
            mail
          </span>
        </a>
      </li>
      <li>
        <a href title="SGI Búzon de Quejas y Sugerencias">
          <span class="material-symbols-outlined round-icon">
            markunread_mailbox
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--<router-outlet />-->
