<div class="header-gob">
  <div class="gob-container-logo padding-5px">
    <img class="gob-logo" src="assets/image/gob-logo.png"/>
  </div>
  <div class="gob-container-options padding-5px">
    <ul class="gob-options">
      <li>
        <a href="https://www.gob.mx/gobierno" title="Gobierno">Gobierno</a>
      </li>
      <li>
        <a href="https://www.participa.gob.mx/" title="Participa">Participa</a>
      </li>
      <li>
        <a href="https://datos.gob.mx/" title="Datos">Datos</a>
      </li>
    </ul>
  </div>
</div>

<!--<router-outlet />-->
