/* You can add global styles to this file, and also import other style files */
.header-gob{
    width: 100%;
    background-color: #343a40;
}
body{
    margin: 0;
}
*{
    font-family: Roboto, "Open Sans", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}